@using ПР37_Осокин.Data.Models
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
@model IEnumerable<Categories>
@{
    Layout = "_Layout";
}
<form method="post" enctype="multipart/form-data">
    <div>
        Наименование: 
        <br/><input name="name" placeholder="Наименование:"/>
    </div>
    <div>
        Описание:
        <br/><input name="description" placeholder="Описание:" />
    </div>
    <div>
        <label for="file">Изображение</label>
        <br /><input name="files" type="file"/>
    </div>
    <div>
        Стоимость:
        <br /><input name="price"/>
    </div>
    <div>
        Категория:
        <br /><select name="idCategory">
            @{
                foreach (var Category in Model)
                {
                    <option value="@Categories.Id">@Categories.Name</option>
                }
            }
        </select>
    </div>
    <input type="submit"/>
</form>
